# Dev
.env
.env.local
.env.*.local

# Build
dist/
build/
node_modules/
venv/
.pytest_cache/
__pycache__/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Root Source Files & Internal Config (Ignored in favor of folders)
/background.js
/sidepanel.html
/sidepanel.js
/manifest.json
/logo.png
/package.json
/package-lock.json
/cleanup.py
/venv/

# Chromium/Zip artifacts
*.pem
*.crx
