# Dev
.env
.env.local
.env.*.local

# Build
dist/
build/
node_modules/
venv/
.pytest_cache/
__pycache__/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Root Source Files (Ignored in favor of extension/ folder)
/background.js
/sidepanel.html
/sidepanel.js
/manifest.json
/logo.png

# Chromium/Zip artifacts
*.pem
*.crx
